body
{
    background-color: #111016;
    color: #bcbbc3;
    font-family: 'Courier New', monospace;
    font-size:15px;
}

.password-text
{
    color: #5ebf6a;
}

.container
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.text-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pwd-container
{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.btn-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.form-item
{
    margin: 5px;
}

.item
{
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    background-color: #24232b;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.pwd-item
{
    flex-wrap: wrap;
    word-wrap: break-word;
    align-self: center;
}

.pwd-item-text
{
    max-width: 50%;text-align: left; padding-left: 20px; padding-right: 20px;
}

.pwd-item img
{
    cursor: pointer;
}

.slider-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.value-container
{
    margin-bottom: 25px;
}

.length-container
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 10px;
}

#length-value
{
    font-size: 28px;
    color: #5ebf6a;
}

input[type=range]::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    background: #ebeaef;
    border: 1px solid #ebeaef;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover
{
    background: #5ebf6a;
    border: 1px solid #5ebf6a;
}

.slider::-moz-range-thumb
{
    background-color: #ebeaef;
    border-color: #ebeaef;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover
{
    background: #5ebf6a;
    border: 1px solid #5ebf6a;
}

.slider
{
    -webkit-appearance: none;
    background: #111016;
    border-radius: 25px;
    height: 6px;
}

.btn
{
    background-color: #5ebf6a;
    padding: 10px 20px 10px 20px;
    border: 1px #5ebf6a solid;
    cursor: pointer;
    text-align: center;
    color: #000000;
}

.btn:hover
{
    background-color: #24232b;
    color:#5ebf6a;
}

[type=checkbox] {
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: top;
    -webkit-appearance: none;
    border: 1px #ffffff solid;
    background-color: #111016;
    cursor: pointer;
  }

  [type=checkbox]:checked {
    background-color: #5ebf6a;
  }

.length-error-msg
{
    color: #ac2633;
    display: none;
}

.checkbox-error-msg
{
    color: #ac2633;
    display: none;
}

.password-strength
{
    color:#bcbbc3;
}

